.grid {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(5, [row] auto);
    grid-column-gap: 1em;
    grid-row-gap: 15px;
    height: 80vh;
    margin: 1rem;
  }

  .grid-thirds {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr);
    grid-template-rows: repeat(5, [row] 50px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height: 30vh;
    margin: 10rem;
  }
  
  .grid__item {
    border: 1px solid red;
    border-radius: 20px;
    background: #eee;
    text-transform: uppercase;
    padding: 1em;
    font-size: 12px;
    font-weight: 800;
    color: red;
    background: linear-gradient(to left, cyan, yellow, magenta);

  }

  /*  Thirds  */

  /* >> full row */
  .grid__item_item-t1 {
    grid-column: col / span 12;
    grid-row: row;
  }

  /* >> 3rd segments */
  .grid__item_item-t2 {
    grid-column: col 1 / span 2;
    grid-row: row 2;
  }
  .grid__item_item-t3 {
    grid-column: col 3 / span 2;
    grid-row: row 2;
    background: linear-gradient(green, blue, red);
  }
  .grid__item_item-t4 {
    grid-column: col 5 / span 2;
    grid-row: row 2;
  }
  .grid__item_item-t5 {
    grid-column: col 7 / span 2;
    grid-row: row 2;
  }
  .grid__item_item-t6 {
    grid-column: col 9 / span 2;
    grid-row: row 2;
    background: linear-gradient(green, blue, red);
  }
  .grid__item_item-t7 {
    grid-column: col 11 / span 2;
    grid-row: row 2;
  }

  /* >> full row */
  .grid__item_item-t8 {
    grid-column: col / span 12;
    grid-row: row 3;
  }

  /* >> 3rd segments */
  .grid__item_item-t9 {
    grid-column: col / span 4;
    grid-row: row 4;
    background: linear-gradient(green, blue, red);
  }
  .grid__item_item-t10 {
    grid-column: col 5 / span 4;
    grid-row: row 4;
  }
  .grid__item_item-t11 {
    grid-column: col 9 / span 4;
    grid-row: row 4;
    background: linear-gradient(green, blue, red);
  }
  
  /* >> full row */
  .grid__item_item-t12 {
    grid-column: col / span 12;
    grid-row: row 5;
  }

  /* end of Thirds */


  .grid__item_item1 {
    grid-column: col / span 4;
    grid-row: row;
  }
  
  .grid__item_item2 {
    grid-column: col 5 / span 4;
    grid-row: row;
  }
  
  .grid__item_item3 {
    grid-column: col 9 / span 4;
    grid-row: row;
  }
  
  .grid__item_item4 {
    grid-column: col / span 8;
    grid-row: row 2;
  }
  
  .grid__item_item5 {
    grid-column: col 9 / span 4;
    grid-row: row 2;
  }
  
  .grid__item_item6 {
    grid-column: col / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item7 {
    grid-column: col 4 / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item8 {
    grid-column: col 7 / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item9 {
    grid-column: col 10 / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item10 {
    grid-column: col / span 6;
    grid-row: row 4;
  }
  
  .grid__item_item11 {
    grid-column: col 7 / span 6;
    grid-row: row 4;
  }
  
  .grid__item_item12 {
    grid-column: col / span 12;
    grid-row: row 5;
  }
  
  .grid__item_item-v1 {
    grid-column: col / span 4;
    grid-row: row / span 2;
  }
  
  .grid__item_item-v2 {
    grid-column: col 5 / span 4;
    grid-row: row / span 3;
  }
  
  .grid__item_item-v3 {
    grid-column: col 9 / span 4;
    grid-row: row;
  }
  
  .grid__item_item-v4 {
    grid-column: col 9 / span 4;
    grid-row: row 2;
  }
  
  .grid__item_item-v5 {
    grid-column: col / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item-v6 {
    grid-column: col 4;
    grid-row: row 3;
  }
  
  .grid__item_item-v7 {
    grid-column: col 9;
    grid-row: row 3;
  }
  
  .grid__item_item-v8 {
    grid-column: col 10 / span 3;
    grid-row: row 3;
  }
  
  .grid__item_item-v9 {
    grid-column: col / span 6;
    grid-row: row 4;
  }
  
  .grid__item_item-v10 {
    grid-column: col 7 / span 3;
    grid-row: row 4;
  }
  
  .grid__item_item-v11 {
    grid-column: col 10 / span 3;
    grid-row: row 4;
  }
  
  .grid__item_item-v12 {
    grid-column: col / span 12;
    grid-row: row 5;
  }