* {
  background: #fff;
}

article {
    display: grid;
    grid-template-columns: 
      [full-start] minmax(1em, 1fr) 
      [main-start] minmax(0, 56em) [main-end]
      minmax(1em, 1fr) [full-end];
    grid-gap: 1em;
  }
  
  section {
    grid-column: main;
  }
  
  figure {
    grid-column: full;
  }
  
  /* Demo Specific Styles */
  body {
    padding: 2em 0;
  }
  
  article > * {
    background-color: #eaeaea;
    padding: 2em;
  }
  
  figure {
    text-align: center;
  }
  
  img {
    max-width: 100%;
  }