*, *::after, *::before{
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    /* background: linear-gradient(to right, hsl(200, 89%, 21%),
     hsl(175, 76%, 23%)); */
     background-color: black;
     display: flex;
     justify-content:center;
     align-items:center;
     min-height: 50vh;
     overflow:hidden;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#d {
    color: white;
    font-size: 2rem;
}

.clock{
    width:300px;
    height:300px;
    /* background-color: rgba(255,255,255,.8); */
    background: linear-gradient(to right, hsl(200, 89%, 21%),
     hsl(175, 76%, 23%));
    /* make circle */
    border-radius: 50%;
    border: 2px solid #d4d4d4;
    position: relative;
}

.clock .number {
    /* set variable for rotation of numbers */
    --rotation:0;
    /* take note that above clock position is set to relative */
    position: absolute;
    width: 100%;
    height:100%;    
    text-align: center;
    /* sets all numbers around circle */
    transform: rotate(var(--rotation));
    font-size:1.5rem;
    font-weight: bold;
    color: #d8d8d8;
}

.clock .number1 { --rotation: 30deg; }
.clock .number2 { --rotation: 60deg; }
.clock .number3 { --rotation: 90deg; }
.clock .number4 { --rotation: 120deg; }
.clock .number5 { --rotation: 150deg; }
.clock .number6 { --rotation: 180deg; }
.clock .number7 { --rotation: 210deg; }
.clock .number8 { --rotation: 240deg; }
.clock .number9 { --rotation: 270deg; }
.clock .number10 { --rotation: 300deg; }
.clock .number11 { --rotation: 330deg; }

.flipNumber { transform: rotate(180deg);}
.flipNumber90 { transform: rotate(90deg);}
.flipNumber270 { transform: rotate(270deg);}

.clock .hand {
    --rotation:0;
    position: absolute;
    bottom: 50%;
    left: 50%;
    border: 1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    z-index:10;
    transform-origin: bottom;
    /* moves the hand over to exactly center */
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
    
}

/* draw center circle with pyseudo element */
.clock:after{
    content:'';
    position: absolute;
    background-color: black;
    z-index: 11;
    width:15px;
    height:15px;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    border-radius:50%;

}

.clock .hand.second {
    width:2px;
    height:42%;
    background-color: red;
}

/* .clock .hand.second {
    width:5px;
    height:42%;
    background-color: red;
} */

.clock .hand.minute {
    width:5px;
    height:38%;
    background-color: gold;
}

.clock .hand.hour {
    width:5px;
    height:30%;
    background-color: gold;
}
    